<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="/../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="C:/Users/nemoCapt/Desktop/Uni/Прога/StatusBank/src/main/resources/static/css/style.css"/>
    <link type="text/css" href="/../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="C:/Users/nemoCapt/Desktop/Uni/Прога/StatusBank/src/main/resources/static/css/login.css"/>
    <title>Welcome!</title>
</head>
<body>
<div>
    <div class="mainDiv" align="center" style="height: 250px;">
        <h1 class="sighLabel">Welcome to Status Bank</h1>
        <div>
            <form href="home" action="home">
                <input class="buttonSign" type="submit" value="Log in"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
